<script type="text/javascript">
    document.addEventListener("DOMContentLoaded", function () {
        
        const jobTitleElement = document.getElementById('jobTitle')
        //jobTitleElement.innerText='Probando el texto';
        const jobSection = document.querySelector('#jobSection')
        const articles = jobSection.querySelectorAll('article');
        const jobButton1 = document.getElementById('jobButton1')

        jobSection.addEventListener('click', (event) => {
            const id = event.target.dataset.id//de esta forma obtendremos el id del elemento sobre el que se ha hecho click en la sección de experiencia laboral.
            if (id) {
                if (jobButton1.classList.contains("bg-white")) {
                    //se debe remover "border-sky-500  bg-white dark:bg-slate-700"
                    console.log("se encontro un elemento seleccionado: ", jobButton1.id)
                    jobButton1.classList.remove("border-sky-500");
                    jobButton1.classList.remove("bg-white");
                    jobButton1.classList.remove("dark:bg-slate-700");
                    jobButton1.classList.add("border-gray-900");
                }

                /*jobButtons.forEach((button)=>{
                    //el boton seleccionado anterior debe volver a estar "no seleccionado"
                    if(button.classList.contains("bg-white")){
                        //se debe remover "border-sky-500  bg-white dark:bg-slate-700"
                        console.log("se encontro un elemento seleccionado: ",button.id)
                        button.classList.remove("border-sky-500");
                        button.classList.remove("bg-white");
                        button.classList.add("border-gray-900");
            
                    }
            
                }) */
                articles.forEach((article) => {
                    if (article.id === id) {
                        article.classList.remove('hidden');

                    } else {
                        article.classList.add('hidden')

                    }


                })
            }
        })


    });

</script>

<section id="jobSection" class="my-12 flex flex-col w-[80%] m-auto  ">
    <!--Para hacer columna en pantallas grandes usar: "lg:flex-row lg:w-[87%] lg:my-28"-->

    <div class="flex justify justify-between"><!--para pantalla grande: lg:flex-col lg:w-[20%] -->
        <button type="button" id="jobButton1" data-id="job1"
            class="border-sky-500  bg-white border-b-2  dark:bg-slate-700 hover:bg-cyan-200 focus:border-sky-500 focus:bg-white focus:dark:bg-slate-700 hover:dark:bg-slate-700 w-full px-4 py-1">Experiencia
            1
        </button><!--"lg:text-left lg:border-l-2 lg:border-b-0 lg:h-full" -->
        <!--Por defecto el primer boton debe estar "selecionado". Para eso se usan los estilos "border-sky-500  bg-white dark:bg-slate-700" -->
        <button type="button" id="jobButton2" data-id="job2"
            class="border-gray-900 border-b-2 hover:bg-cyan-200 focus:border-sky-500 focus:bg-white focus:dark:bg-slate-700 hover:dark:bg-slate-700 w-full px-4 py-1">Experiencia
            2
        </button>
        <button type="button" id="jobButton3" data-id="job3"
            class="border-gray-900 border-b-2 hover:bg-cyan-200 focus:border-sky-500 focus:bg-white focus:dark:bg-slate-700  hover:dark:bg-slate-700 w-full px-4 py-1">Experiencia
            3
        </button>
        <button type="button" id="jobButton4" data-id="job4" class="border-gray-900 border-b-2 hover:bg-cyan-200 focus:border-sky-500 focus:bg-white focus:dark:bg-slate-700  
                hover:dark:bg-slate-700 w-full px-4 py-1">Experiencia 4
        </button>
    </div>
    <!--COntenido de cada experiencia laboral-->
    <!--contenedor articulo de experiencia laboral-->
    <div class="my-6 lg:px-10 lg:max-w-auto"> <!--lg:max-w-[800px]-->
        <article id="job1">
            <div class="flex justify-between pb-5 ">
                <h3 id="jobTitle" class="text-lg "> Ingeniero de software en <span
                        class="text-sky-500 font-bold text-lg">@Intelio</span>
                </h3>
                <h4 class="text-sm">23-junio - presente</h4>
            </div>
            <ul>
                <ul>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursu vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                            Donec in euismod lectus. Sed semper aliquet turpis non ultricies.
                            Aenean cursus, magna sed varius vehicula, est velit elementum dolor, quis tempor
                            nisi urna a orci.
                            In mauris nulla, vehicula vel commodo vel, egestas eu est. Ut maximus aliquam
                            placerat.
                            Integer eget fermentum ligula. </p>
                    </li>
                </ul>
            </ul>
        </article>
        <!--Articulos ocultos por defecto-->
        <article id="job2" class="hidden">
            <div class="flex justify-between pb-5 ">
                <h3 class="text-lg "> Ingeniero front end <span class="text-sky-500 font-bold text-lg">@pehuen</span>
                </h3>
                <h4 class="text-sm">marzo-2014 - noviembre-2016</h4>
            </div>
            <ul>
                <ul>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursu vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                            Donec in euismod lectus. Sed semper aliquet turpis non ultricies.
                            Aenean cursus, magna sed varius vehicula, est velit elementum dolor, quis tempor
                            nisi urna a orci.
                            In mauris nulla, vehicula vel commodo vel, egestas eu est. Ut maximus aliquam
                            placerat.
                            Integer eget fermentum ligula. </p>
                    </li>
                </ul>
            </ul>
        </article>
        <article id="job3" class="hidden">
            <div class="flex justify-between pb-5 ">
                <h3 class="text-lg "> Ingeniero back-end <span class="text-sky-500 font-bold text-lg">@pehuen</span>
                </h3>
                <h4 class="text-sm">marzo-2014 - noviembre-2016</h4>
            </div>
            <ul>
                <ul>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursu vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                            Donec in euismod lectus. Sed semper aliquet turpis non ultricies.
                            Aenean cursus, magna sed varius vehicula, est velit elementum dolor, quis tempor
                            nisi urna a orci.
                            In mauris nulla, vehicula vel commodo vel, egestas eu est. Ut maximus aliquam
                            placerat.
                            Integer eget fermentum ligula. </p>
                    </li>
                </ul>
            </ul>
        </article>
        <article id="job4" class="hidden">
            <div class="flex justify-between pb-5 ">
                <h3 class="text-lg "> PROGRAMADOR<span class="text-sky-500 font-bold text-lg">@pehuen</span>
                </h3>
                <h4 class="text-sm">marzo-2020 - noviembre-2022</h4>
            </div>
            <ul>
                <ul>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursu vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                        </p>
                    </li>
                    <li class="flex items-center py-2">
                        <span class="text-sky-500 font-black">&#9655;</span>
                        <p class="text-stone-900 dark:text-cyan-500 font-normal px-5">Lorem ipsum dolor sit
                            amet, consectetur adipiscing elit. Pellentesque cursus vitae
                            odio et ultrices.
                            Vestibulum cursus semper arcu, a iaculis lacus porta ac.
                            Aliquam eget sapien et urna hendrerit pulvinar. Aliquam pretium tortor aliquam ante
                            aliquam elementum ac non massa.
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras rhoncus magna metus,
                            vitae blandit ex aliquam a.
                            Curabitur quis suscipit ante, non convallis nisl. Sed nec nunc pharetra, gravida
                            enim commodo, interdum urna.
                            Aliquam placerat, magna convallis rhoncus finibus, nulla quam commodo orci, non
                            porttitor urna purus sed magna.
                            Donec in euismod lectus. Sed semper aliquet turpis non ultricies.
                            Aenean cursus, magna sed varius vehicula, est velit elementum dolor, quis tempor
                            nisi urna a orci.
                            In mauris nulla, vehicula vel commodo vel, egestas eu est. Ut maximus aliquam
                            placerat.
                            Integer eget fermentum ligula. </p>
                    </li>
                </ul>
            </ul>
        </article>
    </div>

</section>