<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/tailwind.css">

    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" />
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css"
        integrity="sha512-HK5fgLBL+xu6dm/Ii3z4xhlSUyZgTT9tuc/hSrtw6uzJOvgRr2a9jyxxT1ely+B+xFAmJKVSTbpM/CuL7qxO8w=="
        crossorigin="anonymous" />


    <title>Document</title>
</head>

<body class="bg-slate-300">

    <div id="timeline" class="relative max-w-screen-2xl m-auto border-solid border-2 border-green-300
    after:absolute after:w-1 after:bg-white after:top-0 after:bottom-0 after:right-8 md:after:right-[50%] ">
        <div class="right-8 md:right-0 py-3 px-10 md:py-3 md:px-10 relative bg-slate-600 md:w-[50%] w-full 
        after:z-[1] after:absolute after:w-7 after:h-7 after:border-solid  after:border-4 after:bg-white after:border-yellow-300 after:rounded-[50%] after:-right-3  after:top-10">

            <article class="relative flex flex-col  text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-auto">
                <div class="p-6">
                    <h5
                        class="block  font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                        UI/UX Review Check
                    </h5>
                    <p class="block mt-2 font-sans text-base antialiased font-light leading-relaxed text-inherit">
                        The place is close to Barceloneta Beach and bus stop just 2 min by walk
                        and near to "Naviglio" where you can enjoy the main night life in
                        Barcelona.
                        
                    </p>
                    <div data-collapse="coll-card-1"
                      class=" mt-2 text-sm leading-normal   overflow-hidden max-h-0 transition-all ease-out transition-duration:1.5s">
                    
                      <ul>
                    
                        <li class="flex items-start  py-2">

                          
                          <span class="material-icons "style="font-size:32px">arrow_right</span>
                         
                          <p class=" font-normal px-2">Responsable del desarrollo de la aplicación
                            Lab4Chemestry. Esta debía usar la cámara del celular para determinar el color y la concentración de un
                            componente químico determinado en una solución líquida.
                          </p>
                        </li>
                        <li class="flex items-center py-2">
                          <span class="text-sky-500 font-black">&#9655;</span>
                          <p class=" font-normal px-5">Logré introducirme a los conceptos de visión por
                            computadora con el uso de OpenCv.
                          </p>
                        </li>
                        <li class="flex items-center py-2">
                          <span class="text-sky-500 font-black">&#9655;</span>
                          <p class=" font-normal px-5">Durante la construcción del sistema busque la
                            correcta delegación de responsabilidades entre clases, usando el lenguaje orientado a objetos C# y el motor de
                            Unity3D, con la ayuda de “Arquitectura limpia” (Clean Arquitecture) de Robert C. Martin. </p>
                        </li>
                        <li class="flex items-center py-2">
                          <span class="text-sky-500 font-black">&#9655;</span>
                          <p class=" font-normal px-5">Realicé un desarrollo en función de prototipos, que
                            a lo largo de diversas iteraciones se fue adaptando al producto final.</p>
                        </li>
                        <li class="flex items-center py-2">
                          <span class="text-sky-500 font-black">&#9655;</span>
                          <p class=" font-normal px-5">Mejoré los tiempos de integración de nuevos
                            desarrolladores al proyecto. Reduciendo problemas de legibilidad y orden en el código. </p>
                        </li>
                        <li class="flex items-center py-2">
                          <span class="text-sky-500 font-black">&#9655;</span>
                          <p class=" font-normal px-5">Estuve en terreno realizando pruebas con más de 60
                            alumnos, desde escolaridad primaria a secundaria. </p>
                        </li>
                    
                      </ul>
                    </div>

                </div>
                <div class="p-6 pt-0">
                    <button
                        data-collapse-target="coll-card-1"
                        class=" float-right align-middle select-none font-sans font-bold text-center uppercase transition-all 
                        disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-5 rounded-2xl 
                        bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 
                        focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                        type="button"> Leer +
                       
                    </button>
                </div>
            </article>

        </div>
        <div class="right-8 md:right-0 py-3 px-10 md:py-3 md:px-10 relative bg-slate-600 md:w-[50%] w-full 
        after:z-[1] after:absolute after:w-7 after:h-7 after:border-solid  after:border-4 after:bg-white after:border-yellow-300 after:rounded-[50%] after:-right-3  after:top-10">

            <article class="relative flex flex-col  text-gray-700 bg-white shadow-md bg-clip-border rounded-xl w-auto">
                <div class="p-6">
                    <h5 class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                        <button
                            class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
                            data-collapse-target="collapse-1">
                            <span>What is Material Tailwind?</span>
                            <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
                            <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
                        </button>
                    </h5>
                    <div
                    data-collapse="collapse-1"
                    class="h-0 overflow-hidden transition-all duration-300 ease-in-out">
                        <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit"><!--class="p-4 text-sm leading-normal text-blue-gray-500/80"  -->
                            We're not always in the position that we want to be at. We're constantly
                            growing. We're constantly making mistakes. We're constantly trying to
                            express ourselves and actualize our dreams.
                        </p>
                    </div>
                    
                </div>
                <div class="p-6 pt-0">
                    <button
                        class=" float-right align-middle select-none font-sans font-bold text-center uppercase transition-all disabled:opacity-50 disabled:shadow-none disabled:pointer-events-none text-xs py-3 px-6 rounded-lg bg-gray-900 text-white shadow-md shadow-gray-900/10 hover:shadow-lg hover:shadow-gray-900/20 focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none"
                        type="button">
                        Read More
                    </button>
                </div>
            </article>

        </div>
        <article
            class="right-8 md:left-[50%] py-3 px-10 relative bg-slate-600 md:w-[50%] w-full
        after:z-[1] after:absolute after:w-7 after:h-7 after:border-solid  after:border-4 after:bg-white after:border-yellow-300 after:rounded-[50%] md:after:-left-3 after:-right-3   after:-top-0">
            <div class="content">
                <h2>2018</h2>
                <p>Event description goes here.</p>
            </div>
        </article>
        <!-- Add more containers as needed -->
    </div>

    
<!-- 
<div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="collapse-1">
        <span>What is Material Tailwind?</span>
        <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
        <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
      </button>
    </h6>
    <div
      data-collapse="collapse-1"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
        We're not always in the position that we want to be at. We're constantly
        growing. We're constantly making mistakes. We're constantly trying to
        express ourselves and actualize our dreams.
      </div>
    </div>
  </div>
  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="collapse-2">
        <span>How to use Material Tailwind?</span>
        <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
        <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
      </button>
    </h6>
    <div
      data-collapse="collapse-2"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
        We're not always in the position that we want to be at. We're constantly
        growing. We're constantly making mistakes. We're constantly trying to
        express ourselves and actualize our dreams.
      </div>
    </div>
  </div>
  <div class="relative mb-3">
    <h6 class="mb-0">
      <button
        class="relative flex items-center w-full p-4 font-semibold text-left transition-all ease-in border-b border-solid cursor-pointer border-slate-100 text-slate-700 rounded-t-1 group text-dark-500"
        data-collapse-target="collapse-3"
      >
        <span>What can I do with Material Tailwind?</span>
        <i class="absolute right-0 pt-1 text-xs fa fa-plus group-open:opacity-0"></i>
        <i class="absolute right-0 pt-1 text-xs opacity-0 fa fa-minus group-open:opacity-100"></i>
      </button>
    </h6>
    <div
      data-collapse="collapse-3"
      class="h-0 overflow-hidden transition-all duration-300 ease-in-out"
    >
      <div class="p-4 text-sm leading-normal text-blue-gray-500/80">
        We're not always in the position that we want to be at. We're constantly
        growing. We're constantly making mistakes. We're constantly trying to
        express ourselves and actualize our dreams.
      </div>
    </div>
  </div>
-->

<button name="accordionBtn" class="bg-blue-gray-700 text-secondary-400 cursor-pointer p-5 w-full text-left border-none outline-none transition-duration: 0.4s
    active:bg-blue-gray-900 hover:bg-blue-gray-900">Section 1</button>
    <div class="py-0 px-5 bg-blue-gray-900 overflow-hidden 
     max-h-0 transition-all ease-out transition-duration:1.5s">
        <p>Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...</p>
    </div>

</body>





</html>
<!-- from node_modules 
<script src="node_modules/@material-tailwind/html/scripts/collapse.js"></script>-->
 
<!--<script src="https://unpkg.com/@material-tailwind/html@latest/scripts/collapse.js"></script>-->
<!--
    <button name="accordionBtn" class="bg-blue-gray-700 text-secondary-400 cursor-pointer p-5 w-full text-left border-none outline-none transition-duration: 0.4s
    active:bg-blue-gray-900 hover:bg-blue-gray-900">Section 1</button>
    <div class="py-0 px-5 bg-blue-gray-900 overflow-hidden 
     max-h-0 transition-all ease-out transition-duration:1.5s">
        <p>Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...</p>
    </div>

    <button class="accordion">Section 2</button>
    <div class="panel">
        <p>Lorem ipsumaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaaa...</p>
    </div>-->
<script>

  function configAccordions(){
    let triggers = document.querySelectorAll("[data-collapse-target]"); 
    let collapses = document.querySelectorAll("[data-collapse]"); 
    if (triggers && collapses) { 
        Array.from(triggers).forEach(function (trigger) {
             return Array.from(collapses).forEach(function (collapse) {
                 if (trigger.dataset.collapseTarget === collapse.dataset.collapse) {
                      trigger.addEventListener("click", function () {
                      this.classList.toggle("active");  
                        if (collapse.style.maxHeight ) { 
                            collapse.style.maxHeight = null;
                            trigger.textContent= 'Leer +' 
                            
                        } 
                        else { 
                            collapse.style.maxHeight = collapse.scrollHeight + "px";
                            trigger.textContent= '-' 
                           /* collapse.style.overflow = "visible"; 
                            trigger.setAttribute("open", "") */
                        } 
                    }) 
                } 
            }) 
        }) 
    } 

  }
  configAccordions();



    var acc = document.getElementsByName("accordionBtn");
    var i;

    for (i = 0; i < acc.length; i++) {
        acc[i].addEventListener("click", function () {
            this.classList.toggle("active");
            
            let panel = this.nextElementSibling;
            if(panel.style.maxHeight) {
              panel.style.maxHeight = null;
            } else {
              panel.style.maxHeight = panel.scrollHeight + "px";
            } 
        
        
        });
    }
</script>