<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="/styles/tailwind.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">

    <title>Portafolio</title>
</head>

<body class="bg-sky-100 text-stone-900 dark:bg-primary dark:text-cyan-50 font-roboto">
    <article class="relative flex flex-col text-gray-700 bg-white shadow-md  w-[350px] rounded-xl bg-clip-border ">

        <figure class="relative h-56 m-3 overflow-hidden text-white shadow-lg rounded-xl 
                        bg-blue-gray-500 bg-clip-border shadow-blue-gray-500/40">

            <img class="opacity-80 hover:opacity-100  max-w-lg" src="./img/intelio.png" alt="imagen de la empresa"
                layout="fill">

        </figure>

        <div class="w-full bg-black h-2 mt-2 "></div>



        <div class="p-4">
            <h5
                class="block mb-2 font-sans text-xl antialiased font-semibold leading-snug tracking-normal text-blue-gray-900">
                UI/UX Review Check
            </h5>
            <div class="flex justify-between">

                <ul class="flex justify-start text-sm">
                    <li class=" text-slate-700  mx-2">HTMLssss</li>
                    <li class=" text-slate-700  mx-2">CSS</li>
                    <li class=" text-slate-700  mx-2">JS</li>
                </ul>
                <div class="text-xl text-slate-600 dark:text-slate-200 pr-2">
                    <a href=""> <i class="bi bi-github px-2"></i> </a>
                    <a href=""> <i class="bi bi-eye px-2"></i> </a>
                </div>
            </div>
            <p class="block font-sans text-base antialiased font-light leading-relaxed text-inherit">
                The place is close to Barceloneta Beach and bus stop just 2 min by walk
                and near to "Naviglio" where you can enjoy the main night life in
                Barcelona.
            </p>

        </div>
        <div class="p-6 pt-0">
            <button
                class="float-right select-none rounded-lg bg-pink-500 py-3 px-6 text-center align-middle 
                font-sans text-xs font-bold uppercase text-white 
                shadow-md shadow-pink-500/20 transition-all hover:shadow-lg hover:shadow-pink-500/40 
                focus:opacity-[0.85] focus:shadow-none active:opacity-[0.85] active:shadow-none 
                disabled:pointer-events-none disabled:opacity-50 disabled:shadow-none"
                type="button" data-ripple-light="true">
                Read More
            </button>
        </div>



    </article>

</body>